{#
/**
 * @file
 * Default theme implementation of a views exposed form.
 *
 * Available variables:
 * - form: A render element representing the form.
 *
 * @see template_preprocess_views_exposed_form()
 *
 * @ingroup themeable
 */
#}
{% if q is not empty %}
  {#
    This ensures that, if clean URLs are off, the 'q' is added first,
    as a hidden form element, so that it shows up first in the POST URL.
  #}
  {{ q }}
{% endif %}
<div class="inline-content">
  {{ 'Local Care Centers (LCCs) are alternate treatment sites located close to where your patients live, in convenient retail pharmacies, urgent care clinics, dialysis centers, and infusion centers.'|t }}
  <div>
    {{ 'Distance :'|t }}
    {{ form.field_geo_proximity }}
  </div>
  <div>
    {{ 'Type :'|t }}
    {{ form.field_ipn_value }}
    {{ form.field_lcc_value }}
  </div>
  {{ form['field_geo_proximity-zip'] }}

</div>
{{ form|without('field_geo_proximity', 'field_geo_proximity-zip', 'field_ipn_value', 'field_lcc_value') }}
