{#
/**
 * @file
 * Default theme implementation to display a formulary result component.
 *
 * Variables:
 * - label
 * - value
 * - title_attributes
 * - attributes
 */
#}
{% set label_string = label|raw %}

<div class="form-group">
  <div class="row">
    <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
      <label {{ title_attributes }}>{{ label }}:</label>
      {% if 'Additional Restrictions' in label_string|trim %}
      <div class="formulary-notes">
        <p><span {{ attributes }}>{{ value|raw }}</span></p>
      </div>
      {% else %}
      <span {{ attributes }}>{{ value }}</span>
      {% endif %}
    </div>
  </div>
</div>
