{#
/**
 * @file
 * Default theme implementation of a views exposed form.
 *
 * Available variables:
 * - form: A render element representing the form.
 *
 * @see template_preprocess_views_exposed_form()
 *
 * @ingroup themeable
 */
#}
{% if q is not empty %}
  {#
    This ensures that, if clean URLs are off, the 'q' is added first,
    as a hidden form element, so that it shows up first in the POST URL.
  #}
  {{ q }}
{% endif %}
<div class="inline-content">
  {{ 'Find a doctor certified in the safety program within'|t }}
  {{ form.field_geo_proximity }}
  {{ 'miles of'|t }}
  {{ form['field_geo_proximity-zip'] }}.
</div>
{{ form|without('field_geo_proximity', 'field_geo_proximity-zip') }}
